.App-header {
  align-items: center;
  font-size: 40px;
}
.hey {
  font-size: 35px;
}
.youtubeVideosWrapper {
  padding: 20px;
  margin: auto 40px;
}

.allVideosWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  max-width: 1200px;
}

.title-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.singleVideoWrapper {
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
}

.videoThumbnail {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  position: relative;
}

.videoThumbnail img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoInfoWrapper {
  text-align: center;
  margin-top: 10px;
}

.videoTitle a {
  font-size: 18px;
  color: #333;
  text-decoration: none;
}

.videoDesc {
  font-size: 14px;
  color: #888;
  margin-top: 5px;
  line-height: 1.4;
}
